@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}




#google_translate_element img {
  display: none !important;
}

#google_translate_element .goog-te-gadget span{
  background:rgb(0, 0, 0) !important; 
  color: #fff !important;
  padding: 0.5rem !important;
  font-family: 'DM Sans' !important;

}

#google_translate_element:hover .goog-te-gadget span {
  background: #be185d !important;
}

.scroll-stack-card {
  background: #1e1e1e; /* o cualquier color que veas */
  color: white;
}



